########################################
# System Configuration
########################################

# TODO: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/hotend_fan_monitoring.html
# TODO: RGB https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/lcd_rgb.html

[include macros.cfg]
[include macros__code_overrides.cfg]
[include macros__parking.cfg]
[include octopus_pro_pins.cfg]
[include timelapse.cfg]

# Flags
[pause_resume]
[display_status]
[exclude_object]

[virtual_sdcard]
path:  /home/admin/printer_data/gcodes
on_error_gcode:
  CANCEL_PRINT

[mcu host]
serial: /tmp/klipper_host_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_3F0037001350304738313820-if00

[fan_generic controller_inlet_fan]
pin: FAN4

[fan_generic controller_outlet_fan]
pin: FAN5

# [led chamber_lights]
# white_pin: FAN6


########################################
# Motion System Configuration
########################################

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1250
max_z_velocity: 3
max_z_accel: 20

[force_move]
enable_force_move: True

[stepper_x]
step_pin: MOT0_STEP
dir_pin: MOT0_DIR
enable_pin: !MOT0_EN
microsteps: 16
rotation_distance: 40
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_endstop: -35
position_min: -35
position_max: 245
# Brush @ 200
homing_speed: 50
homing_retract_dist: 0

[stepper_y]
step_pin: MOT1_STEP
dir_pin: !MOT1_DIR
enable_pin: !MOT1_EN
microsteps: 16
rotation_distance: 40
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_endstop: -12.5
position_max: 280
# Brush @ 275
# Bed ends @ 245
position_min: -12.5
homing_speed: 50
homing_retract_dist: 0

[stepper_z]
step_pin: MOT2_STEP
dir_pin: !MOT2_DIR
enable_pin: !MOT2_EN
microsteps: 16
rotation_distance: 3.175 #.125 inches 3/8 ballscrew
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop
position_max: 245
position_min: -2
homing_speed: 3

[probe]
pin: ~PRB_3
#z_offset: 0
samples: 1
x_offset: 7.5
y_offset: -28
sample_retract_dist: .5
speed:3


[bed_mesh]
speed: 150
horizontal_move_z: 2
# Manually measured position 
mesh_min: 5,5
mesh_max: 240,240
probe_count: 5, 5


########################################
# Extrusion Configuration
#
# FAN2 is the left blower
# FAN3 is the right blower
#
########################################

[extruder]
step_pin: MOT3_STEP
dir_pin: !MOT3_DIR
enable_pin: !MOT3_EN
microsteps: 16
rotation_distance: 7.711
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HE0
sensor_pin:  T0
sensor_type: PT1000
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 350

[heater_fan fan]
pin: FAN0

[extruder1]
step_pin: MOT4_STEP
dir_pin: !MOT4_DIR
enable_pin: !MOT4_EN
microsteps: 16
rotation_distance: 7.711
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HE1
sensor_pin: T1
sensor_type: PT1000
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 350

[heater_fan fan1]
pin: FAN1
heater: extruder1

[heater_bed]
heater_pin: BED_OUT
sensor_pin: TB
sensor_type: ATC Semitec 104GT-2
control: watermark
min_temp: 0
max_temp: 130

[multi_pin blowers]
pins: FAN2,FAN3

[fan]
pin: multi_pin:blowers

[firmware_retraction]
retract_length: 0.4
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: .1
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.



########################################
# Trinamic Driver Configuration
#
# TMC5160 are used via SPI-1 for the XYZ motors
# TMC2209 are used via UART for Extruder motors
#
########################################

[tmc5160 stepper_x]
cs_pin: MOT0_CS
spi_bus: spi1
diag1_pin: ^!ESTOP0
run_current: 2
# stealthchop_threshold: 999999
driver_SGT: -1  # -64 is most sensitive value, 63 is least sensitive

[tmc5160 stepper_y]
cs_pin: MOT1_CS
spi_bus: spi1
diag1_pin: ^!ESTOP1
run_current: 2
# stealthchop_threshold: 999999
driver_SGT: -1  # -64 is most sensitive value, 63 is least sensitive

[tmc5160 stepper_z]
cs_pin: MOT2_CS
spi_bus: spi1
run_current: .9
hold_current: .2
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: MOT3_CS
run_current: 0.800
stealthchop_threshold: 999999

[tmc2209 extruder1]
uart_pin: MOT4_CS
run_current: 0.800
stealthchop_threshold: 999999

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.250
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.029369, 0.011906, -0.007937, -0.000794, -0.033337
#*# 	  -0.015875, -0.008731, 0.002381, 0.003175, -0.028575
#*# 	  -0.073819, -0.044450, -0.018256, 0.003969, -0.009525
#*# 	  -0.144462, -0.092869, -0.040481, -0.004762, 0.010319
#*# 	  -0.199231, -0.134144, 0.039688, -0.011906, 0.011113
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 240.0
#*# min_y = 5.0
#*# max_y = 240.0
